<div class="max-w-md mx-auto mt-10 p-6 bg-bg-light dark:bg-bg-dark rounded-lg">
    <h2 class="text-2xl font-bold mb-6 text-center text-text dark:text-text-light">Sign Up</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label for="username" class="block text-sm font-medium text-text dark:text-text-light">Username</label>
            <input formControlName="username" type="text" id="username" required
                class="mt-1 block w-full px-3 py-2 border border-input-border-light dark:border-input-border-dark rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm bg-input-light dark:bg-input-dark text-input-text-light dark:text-input-text-dark">
            <div *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched"
                class="text-red-500 text-sm">
                <div *ngIf="signUpForm.get('username')?.errors?.['required']">Username is required.</div>
                <div *ngIf="signUpForm.get('username')?.errors?.['minlength']">Username must be at least 4 characters
                    long.</div>
                <div *ngIf="signUpForm.get('username')?.errors?.['maxlength']">Username cannot be more than 20
                    characters long.</div>
                <div *ngIf="signUpForm.get('username')?.errors?.['usernameExists']">Username already exists.</div>
            </div>
        </div>
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-text dark:text-text-light">Email</label>
            <input formControlName="email" type="email" id="email" required
                class="mt-1 block w-full px-3 py-2 border border-input-border-light dark:border-input-border-dark rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm bg-input-light dark:bg-input-dark text-input-text-light dark:text-input-text-dark">
            <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched"
                class="text-red-500 text-sm">
                <div *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="signUpForm.get('email')?.errors?.['email']">Please enter a valid email.</div>
                <div *ngIf="signUpForm.get('email')?.errors?.['emailExists']">Email is already associated with another
                    account.</div>
            </div>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-text dark:text-text-light">Password</label>
            <input formControlName="password" type="password" id="password" required
                class="mt-1 block w-full px-3 py-2 border border-input-border-light dark:border-input-border-dark rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm bg-input-light dark:bg-input-dark text-input-text-light dark:text-input-text-dark">
            <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"
                class="text-red-500 text-sm">
                <div *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required.</div>
                <div *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters
                    long.</div>
                <div *ngIf="signUpForm.get('password')?.errors?.['maxlength']">Password cannot be more than 20
                    characters long.</div>
                <div *ngIf="signUpForm.get('password')?.errors?.['serverError']">An error occurred. Please try again
                    later.</div>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" [disabled]="isSigningUp"
                class="w-full bg-primary text-white py-2 px-4 rounded-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
                [ngClass]="{'opacity-50 cursor-not-allowed': isSigningUp}">
                <span *ngIf="!isSigningUp">Sign Up</span>
                <span *ngIf="isSigningUp"
                    class="loader border-t-transparent border-solid border-white border-2 rounded-full w-4 h-4 inline-block animate-spin"></span>
                <span *ngIf="isSigningUp">Signing up...</span>
            </button>
        </div>
    </form>
    <p class="mt-4 text-center text-sm text-text dark:text-text-light">
        Already have an account?
        <a href="/login" class="text-primary dark:text-primary-dark hover:underline">Login here</a>
    </p>
</div>