<div class="flex flex-col min-h-screen" style="background-color: var(--bg-color);">
    <header class="p-4 flex justify-between items-center border-b-1"
        style="background-color: var(--bg-color); color: var(--text-color-light);">
        <h1 class="text-xl" style="color: var(--text-color);">Time Sync</h1>
        <button (click)="toggleTheme()" style="color: var(--text-color);">
            <i class="bi bi-moon-fill dark:hidden" style="color: var(--text-color);"></i>
            <i class="bi bi-sun-fill hidden dark:inline" style="color: var(--text-color);"></i>
        </button>
    </header>
    <main class="flex-grow">
        <router-outlet></router-outlet>
    </main>
    <footer class="p-2 text-center" style="background-color: var(--bg-color); color: var(--text-color);">
        &copy; Time Sync 2024
    </footer>
</div>