/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* filepath: /e:/Development/time-sync-fe/src/styles.scss */
:root {
    --primary-color: #3490dc;
    --secondary-color: #ffed4a;
    --text-color: #333;
    --bg-color: #f8fafc;
    --border-line: #333; 
  }
  
  .dark {
    --primary-color: #1d4ed8;
    --secondary-color: #fbbf24;
    --text-color: #e5e7eb;
    --bg-color: #1a202c;
    --border-line: #fff; 
  }